@include mediaSm {
    .showcase .showcase-top {
        min-height: 100vh;
        width: 100vw;
        background: url('../../img/hero_mobile.jpg') no-repeat;
    }

    .showcase-top {
        height: 100%;
        min-width: 100%;
        display: flex;
        overflow: hidden;
    }

    .showcase-top ul li {
        display: none;
    }
}

@include mediaMd {
    .showcase .showcase-top {
        height: 100vw;
        width: 100vw;
        background: url('../../img/hero_mobile.jpg') no-repeat center center/cover;
    }

    .showcase-top {
        height: 100%;
        min-width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        overflow: hidden;

    }

    p {
        font-size: .8rem;
    }

    .showcase-top ul li {
        display: none;
        z-index: -3;
    }

    p.first {
        font-size: 1rem;
    }

    .showcase-side button {
        transform: translate(-2%, -180%);
        margin-right: 2rem;
        display: inline-block;
    }

    .underline {
        top: 8%;
    }

    .overlay-box {
        min-height: 30vw;
        width: 40vh;
        z-index: 3;
        text-align: center;
        transform: translate(5%, -35%)
    }

    .overlay-box ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr)
    }

    .underline-2 {
        width: 70%;
        top: 28%;
        left: 17%;
    }

    .modal-content {
        min-width: 40vw;
        min-height: 35vw;
        overflow: hidden;
        margin: 3rem 0 1rem 0rem;
    }

    figure.image {
        min-width: 30vw;
        height: 30vw;
    }


    // Map
    section.map {
        position: relative;
        min-height: 120vh;
    }

    section .card.custom {
        transform: translate(-18%, 115%);
        min-width: 65vw;
        min-height: 5vh;
        display: flex;
        z-index: -2;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .overlay-map.container {
        display: flex;
    }

    .underline-dark {
        left: 60%;
    }

    .two-column .col-1 {
        position: absolute;
        width: 50vw;
        top: 0%;
        transform: translate(-55%, -185%);

        h4 {
            font-size: 1.1rem;
        }

        p {
            color: black;
        }
    }

    .two-column .col-2 {
        position: absolute;
        width: 20vw;
        left: 38%;
        transform: translate(30%, -68%)
    }

    // Shore
    section.shore {
        margin-top: 85vh;
    }
}

// For Desktop Screens
@include mediaLg {
    .overlay-box {
        min-height: 40vw;
        width: 50vh;
        z-index: 3;
        transform: translate(5%, -5%)
    }

    .overlay-box ul {
        display: grid;
        grid-template-columns: 2fr;
    }

    section .card.custom {
        transform: translate(-14%, 45%);
        min-width: 65vw;
        min-height: 5vh;
        display: flex;
        z-index: -2;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .two-column .col-1 {
        position: absolute;
        width: 50vw;
        top: 0%;
        transform: translate(-30%, -155%);
    }

    .two-column .col-2 {
        position: absolute;
        width: 50vw;
        top: 0%;
        transform: translate(95%, -65%);
    }

    section.shore {
        margin-top: 45vh;
    }
}