// Utility Classes
.underline {
    height: 23px;
    width: 25%;
    background: aqua;
    position: absolute;
    transform: translate(0%, 100%);
    top: 5%;
}
.underline-2 {
    height: 18px;
    width: 11%;
    background: aqua;
    position: absolute;
    transform: translate(0%, 100%);
    top: 28%;
    left: 1%;
}
.underline-3 {
    height: 8px;
    width: 9%;
    background: aqua;
    position: absolute;
    transform: translate(2%, 0%);
    top: 40%;
}
.underline-dark {
    background: #444;
    width: 80%;
    height: 2px;
    position: absolute;
    top: 80%;
    transform: translate(-65%,80%);
}
.underline-dark-2 {
    background: #444;
    width: 100%;
    height: 2px;
    position: absolute;
    top: 80%;
    transform: translate(-1%,70%);
}
.custom {
    padding: 4rem 3rem;
    margin-top: 10vh;
}
.columns h4 {
    margin-top: 2vh;
}
.block {
    position: absolute;
    top: 70%;
    color: #fff;
    text-align: center;
    left: 2%;
}
.button-white button {
    text-transform: uppercase;
}
.column {
    margin-top: .2rem;
}
.overlay-box {
    min-height: 50vh;
    min-width: 90%;
    background: honeydew;
    position: absolute;
    transform: translate(8%,-22%);
    
    h4 {
        text-transform: uppercase;
        word-wrap: break-word;
    }
}

.text-center {
    text-align: center;
}
.mt {
    margin-top: 12vh;
}
.ml {
    margin-left: 5%;
}
.upper {
    text-transform: uppercase;
}