@import 'utility';
@import 'config';

$primary-color: black;
$secondary-color: aqua;

@font-face {
    font-family: "ZahrahforDouglas";
    src: url('/fonts/ZahrahforDouglas/ZahrahforDouglas-MediumIt.woff') format("woff");
}

body {
    overflow-x: hidden;
    min-height: 100vh;
    font-family: "ZahrahforDouglas";
}

header {
    position: relative;
    min-height: 100vh;
}

// Showcase Section
section {
    min-height: 55vmax;
    max-width: 100vw;

    .showcase-top {
        background: url('../../img/hero_desktop.jpg') no-repeat center center/cover;
        min-height: 120vh;
        width: 100%;
    }

    .showcase-side {
        height: 100vh;
        display: flex;
        flex: 1;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        color: floralwhite;
        position: absolute;
        transform: translate(2%, 0%);
        top: 40%;

        ul {
            display: grid;
            grid-template-columns: 2fr;
        }
    }
}

// Overlay
section.overlay {
    position: relative;
}

// Map
section.map {
    background: url('../../img/map.jpg') no-repeat center center/cover;
    top: 0%;
    position: relative;
    min-width: 100%;
    transform: translate(0%, -73%);
}

// Two Columns Section
.two-column {
    position: relative;

    .col-1 {
        min-height: 30%;
        width: 35vw;
        background: aliceblue;
        position: absolute;
        top: 0%;
        transform: translate(10%, -215%);
    }

    .col-2 {
        position: absolute;
        transform: translate(80%, -95%);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

// Shore
.shore {
    position: relative;
}

.shore-content {
    position: relative;
    transform: translate(0%, -95%);
}

// Two Column End
.computer-img {
    background: url('../../img/partnerships_douglas_graphics_01_de.png') no-repeat cover;
    width: 20%;
    height: 40vh;
}

// Modal
.modal-content {
    display: grid;
    grid-template-columns: 2fr;
    margin-top: 5rem;
    animation-name: modalopen;
    animation-duration: 1s;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.close {
    color: floralwhite;
    float: right;
    font-size: 30px;
    cursor: pointer;
}

@keyframes modalopen {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}



@import 'mobile';